.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  display: flex;
  min-height: 64px;
}

.rightSection {
  display: flex;
  align-items: center;
}

.logo {
  height: 75px;
  cursor: pointer;
}

.brandText {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconButton {
  color: rgba(255, 255, 255, 0.7) !important;
}

.activeIcon {
  color: var(--bg-white) !important;
}

.iconButton:hover {
  color: var(--bg-white) !important;
}

.menu .MuiPaper-root {
  border-radius: 12px;
  min-width: 180px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.menuItem {
  display: flex;
  gap: 10px;
  padding: 12px 20px;
}

.logoutItem {
  display: flex;
  gap: 10px;
  padding: 12px 20px;
  color: #d32f2f !important;
}

@media (max-width: 900px) {
  :global(.MuiAppBar-root) {
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 100vw !important;
    left: 0 !important;
    margin: 0 !important;
  }

  .toolbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
    width: 100%;
  }

  .rightSection,
  .leftSection {
    padding: 0 16px;
  }
}
