/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #067c80;
   
}

* {
  box-sizing: border-box;
}
body {
  background-color: #f0fdfa; 
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  padding: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #067c80;
}

* {
  box-sizing: border-box;
}

html {
  padding: 0;
}

body {
  margin: 0;
  background-color: #f0fdfa;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Assistant', Arial, Helvetica, sans-serif;
}
