@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #067c80;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #f0fdfa; /* ירקרק-מנטה בהיר */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  padding: 0;
}
