@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
*{
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html{
  padding: 0;
}