@import "tailwindcss";

:root {
  --primary: #067c80;
  --primary-dark: #075953;

  --text-main: #1a202c;
  --text-muted: #6b7280;
  --bg-white: #ffffff;
  --bg-linear: linear-gradient(135deg, #067c80, #32b9b2);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  background: linear-gradient(
    135deg,
    #f7fffe 0%,
    #ecfdf5 40%,
    #e6fffa 100%
  );
  font-family: var(--font-main), system-ui, Arial, sans-serif;
  color: var(--text-main);
}